.footercss {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* position: relative;
  top: 6vh; */
}
.footerlicss {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 28vw;
  margin-left: 40vw;
}
.footerlicss > li {
  list-style: none;
}
.socialmediacss {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
}
.socialmediacss > img {
  width: 2vw;
  height: 10vh;
}
.footercolor {
  width: 100vw;
  background-color: rgba(45, 58, 83, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
