.logincss {
  background-image: url("../images/wallpaperflare.com_wallpaper\ \(1\).jpg");
  background-size: cover;
  background-position: 0, 0;
  height: 100vh;
  width: 100vw;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 58, 83, 1);
  border: 0.5px solid rgba(45, 58, 83, 1);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  margin-left: 40vw;
  margin-top: 20vh;
  color: #fff;
  position: relative;
  right: 30px;
  font-family: "Pangolin", cursive;
  line-height: 30px;
}
.loginlogo {
  height: 85px;
  width: 85px;
  /* position: relative;
  bottom: 50px; */
}
.login input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #fff;
  color: white;
}

.loginButton {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Pangolin", cursive;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginButton:hover {
  background-color: #f3deff;
  color: #272727;
}
