.signupmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #e6e3d3;
  color: #e6e3d3;
  background-image: url("../images/wallpaperflare.com_wallpaper\ \(1\).jpg");
  background-size: cover;
  background-position: 0, 0;
  /* filter: blur(0px); */
}

.signupform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 58, 83, 1);
  border: 1px solid rgba(45, 58, 83, 0.8, 0.9);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 5px;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-right: 60px;
  height: 450px;
  width: 500px;
  color: #fff;
  padding: 10px 0;
  position: relative;
  top: 150px;
}

.signupform > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #fff;
  /* margin-top: 0; */
}
.nameinput {
  display: flex;
}

.nameinputbox {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}
.nameinputbox > input {
  border-bottom: 1px double #e6e3d3;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  background-color: transparent;
  text-align: left;
  color: #e6e3d3;
}
.ageemail {
  display: flex;
}
.ageemailbox {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}
.ageemailbox > input {
  border-bottom: 1px solid #e6e3d3;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  background-color: transparent;
  text-align: left;
  color: #e6e3d3;
}
.usernamecss {
  border-bottom: 1px solid #e6e3d3;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  background-color: transparent;
  text-align: left;
  color: #e6e3d3;
}
.passwordoconfirm {
  display: flex;
}
.passwordoconfirmbox {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}
.passwordoconfirmbox > input {
  border-bottom: 1px solid #e6e3d3;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  background-color: transparent;
  color: #e6e3d3;
}
.profileimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profileimg > input::file-selector-button {
  background-color: #e6e3d3;
  border: 0 solid #e2e8f0;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 6s00;
  line-height: 1;
  padding: 0.4rem 0.4rem;
  text-align: left;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.profileimg > input::file-selector-button:hover {
  background-color: #f3deff;
  color: #272727;
}
.submitbutton {
  background-color: #e6e3d3;
  border: 0 solid #e2e8f0;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: left;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.submitbutton:hover {
  background-color: #f3deff;
  color: #272727;
}

.burgerLinks {
  color: white;
  font-size: 3vh;
  text-decoration: none;
}

.signupformbox {
  height: 900px;
}

.profilepic {
  display: flex;
  justify-content: flex-start;
}
.profilepic > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #272727;
}

/* .signupnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #013220;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100vw;
  height: 100px;
} */
.signuplogo {
  width: 200px;
  height: 100px;
}
.navbarcheat {
  width: 100vw;
  position: fixed;
  top: 0vh;
}
