.signupmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 97vh;
  /* background-image: url("../images/everglades.jpg");
  background-size: cover;
  background-position: 0, 0; */
  background-color: #e6e3d3;
  color: #e6e3d3;
}
/* .signupcss {
  height: 28vh;
  width: 100vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.signupform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  /* line-height: 6vh; */
  border: 1px solid rgba(157, 193, 131, 0.3);
  background-color: rgba(157, 193, 131, 1);
  border-radius: 3%;
  padding: 0;
  margin-top: 10vh;
  width: 30vw;
  height: 65vh;
  color: #e6e3d3;
}
.signupform > img {
  width: 60px;
  height: 80px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 5vh;
}
.nameinput {
  display: flex;
}

.nameinputbox {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}
.nameinputbox > input {
  border-bottom: 1px solid #272727;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  background-color: transparent;
  text-align: center;
}
.ageemail {
  display: flex;
}
.ageemailbox {
  display: flex;
  flex-direction: column;

  padding: 1vh 1vw;
}
.ageemailbox > input {
  border-bottom: 1px solid #272727;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  background-color: transparent;
  text-align: center;
}
.usernamecss {
  border-bottom: 1px solid #272727;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  background-color: transparent;
  text-align: center;
}
.passwordoconfirm {
  display: flex;
}
.passwordoconfirmbox {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}
.passwordoconfirmbox > input {
  border-bottom: 1px solid #272727;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  background-color: transparent;
}
.profileimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profileimg > input::file-selector-button {
  background-color: #e6e3d3;
  border: 0 solid #e2e8f0;
  border-radius: 1.7rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 6s00;
  line-height: 1;
  padding: 0.4rem 0.4rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.profileimg > input::file-selector-button:hover {
  background-color: #f3deff;
  color: #272727;
}
.submitbutton {
  background-color: #e6e3d3;
  border: 0 solid #e2e8f0;
  border-radius: 1.7rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.submitbutton:hover {
  background-color: #f3deff;
  color: #272727;
}

.burgerLinks {
  color: white;
  font-size: 3vh;
  text-decoration: none;
}
/* .signuplogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(157, 193, 131, 0.35);
  background-color: rgba(157, 193, 131, 1);
  border-radius: 3%;
}
.signuplogo > p {
  margin-top: 0;
}
*/
.signuplogo {
  width: 250px;
  height: 24vh;
}
/* .signupnav {
  display: flex;
  justify-content: row;
  justify-content: space-around;
  align-items: center;
} */
.signupformbox {
  height: 100vh;
}
.signupform {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 60vh;
  margin-bottom: 10vh;
}

.profilepic {
  display: flex;
  justify-content: flex-start;
}
.profilepic > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #272727;
}

.signupnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(157, 193, 131, 1);
  height: 13vh;
  width: 100vw;
}
