.usercssbody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-image: url("../images/GT-1.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Pangolin", cursive;
}
.userpage {
  display: flex;
  flex-direction: row;
  justify-content: sstart;
  align-items: flex-start;
  margin-right: 175px;
}

.postsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favoritessection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.newssection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  width: 325px;
  height: 200px;
  margin: 25px 0 0 90px;
  /* border: 0.5px solid rgba(45, 58, 83, 1); */
  background-color: #e2e8f0;
}
.news p {
  width: 240px;
}
