.usercssbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(230, 227, 211, 1);
  width: 100vw;
  background-image: url("../images/GT-1.jpg");
  background-size: cover;
  background-position: center;
}
.userpage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 175px;
}
.usercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.postsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.favoritessection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.newssection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  width: 325px;
  height: 200px;
  margin: 25px 0 0 50px;
  border: 0.5px solid rgba(45, 58, 83, 1);
  /* filter: blur(); */

  /* border: 1px solid rgba(157, 193, 131, 1); */
}
/* .usercssbody h2 {
  font-size: 35px;
}



.news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33vw;
  height: 30vh;
  border: 1px solid rgba(157, 193, 131, 1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 0.5vh;
}
.news > img {
  width: 20vw;
  height: 15vh;
  border-radius: 5px;
}

.userpage {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.postsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vw;
}
.favoritessection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.newssection {
  width: 33vw;
}
.newssection > h2 {
  text-align: center;
}

.usercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1vh 1vw;
} */
